@import url('https://fonts.googleapis.com/css2?family=Antic&family=Balsamiq+Sans:wght@700&family=Cabin&family=Dancing+Script:wght@400;500;700&family=Dongle&family=Lato:wght@300;400&family=Montserrat:wght@300;400&family=Ubuntu&family=Varela+Round&display=swap');

body{
    font-family: 'Dongle', sans-serif;
    width: 90%;
    margin-left:15px;
}