@media screen and (min-width: 400px) and (max-width: 600px) {
    .home-page-buttons{
        margin-top: 7rem;
        margin-left: 35%;
        margin-right: 30%;
        margin-bottom: 15%;
    }
    }
    
    @media screen and (min-width: 601px) {
        .home-page-buttons{
            margin-top: 7rem;
            margin-left: 45%;
            margin-right: 30%;
            margin-bottom: 15%;
        }
        
        }
    
    @media screen and (min-width: 0px) and (max-width: 400px) {
        .home-page-buttons{
            margin-top: 7rem;
            margin-left: 35%;
            margin-right: 30%;
            margin-bottom: 15%;
        }
        }
    