.question-answers h5{
    width: 40%;
    display: inline-block;
    border: 3px solid white;
    margin: 1rem;
    text-shadow: 2px 2px 2px black;
    border-radius:2rem;
    background-color:blue;
    font-size:25px;
}

.question-answers{
    text-align: center;
}
.no-questions{
    text-align: center;
}

